<!DOCTYPE html>
<html>
  <head>
    <title>AvoidLosingExtensibilityWithWebpacker</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <script>
      window.router = <%= {
        controllerPath: controller_path,
        actionName: action_name,
      }.to_json.html_safe %>
    </script>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <% # An UI parts that may be displayed depending on the user's status. %>
    <% if rand < 0.5 %>
      <div>
        <button class="js-button-in-layout">A button in the layout</button>
      </div>
    <% end %>
  </body>
</html>
